.app {
    outline: none;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 50px ;
    grid-template-areas: "field" "toolbar" ;
}

.main {
    grid-area: field;
    overflow: hidden;
}